* {
    margin: 0 0;
}
#body {
    background-color: rgb(12, 102, 0);
}

#start {
    position: absolute;
    width: 700px;
    height: 700px;
    z-index: 1;
    background-image: url(../assets/images/hud/start_game.png);
    display: block;
}

#startButton {
    position: absolute;
    font-size: 30px;
    margin: 45% 33%;
    width: 230px;
    height: 108px;
    background-color: transparent;
    border-color: transparent;
    background-image: url(../assets/images/hud/button_start_230x180.png);
}

#startButton:hover {
    position: absolute;
    cursor: pointer;
    margin: 45% 33%;
    width: 236px;
    height: 114px;
    background-color: transparent;
    border-color: transparent;
    background-image: url(../assets/images/hud/button_start_no_shadow.png);
}

#retryButton {
    position: absolute;
    margin: 70% 33%;
    width: 228px;
    height: 106px;
    border-color: transparent;
    background-color: transparent;
    background-image: url(../assets/images/hud/button_game_over_228x106.png);
}

#retryButton:hover {
    cursor: pointer;
    width: 232px;
    height: 108px;
    border-color: transparent;
    background-color: transparent;
    background-size: cover;
    background-image: url(../assets/images/hud/retry_button_no_shadow.png);    
}


#title {
    position: absolute;
    top: 25px;
    width: 440px;
    height: 171px;
    background-image: url(../assets/images/hud/hill_of_the_king.png);
    display: none;
}

#hud {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 1000px;
    align-items: center;
    background-image: url(../assets/images/hud/hud_paisaje.jpg);
    background-size: cover;
}

/*#stats {
    position: absolute;
    width: 150px;
    height: 300px;
    border: 5px solid black;
    visibility: hidden;
    background-color: beige;
    visibility: hidden;
    background-image: url();  
}

#statsButton {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-image: url();
}*/

#score {
    display: inline-block;
    font-family: fantasy;
    font-size: 30px;
    color: black;
    position: absolute;
    width: 210px;
    height: 32px;
    top: 515px;
    left: 0px;
    background-image: url(../assets/images/hud/score.png);  
}

#finalScore {
    display: inline-block;
    font-family: fantasy;
    font-size: 30px;
    color: black;
    position: absolute;
    width: 210px;
    height: 32px;
    margin: 63% 34%;
    background-image: url(../assets/images/hud/score.png); 
}

#points {
    font-family: fantasy;
    font-size: 23px;
    font-weight: 100;
    position: absolute;
    top: 6%;
    left: 60%;
}

#life {
    display: inline-block;
    position: absolute;
    width: 210px;
    height: 32px;
    top: 515px;
    left: 255px;
    background-image: url(../assets/images/hud/life100.png);
}

#canvas {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    background-image: url(../assets/images/hud/canvas.jpg);
    background-size: cover;
    border: 10px solid rgb(34, 32, 32);
}

#marco {
    width: 700px;
    height: 700px;
    margin: 0 auto;
    position: absolute;
    background-image: url(../assets/images/hud/canvas_marco_gris.png);
    background-size: cover;
}

#hero {
    position: absolute;
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    background-position:center;
    /*border: 2px solid rgb(9, 255, 0);*/
    background-image: url(../assets/images/hero_iddle/hero_idle_down_72.gif);

}

#enemy {
    position: absolute;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-image: url(../assets/images/enemys/spider_run.gif);
}

#bossEnemy {
    position: absolute;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-image: url(../assets/images/enemys/yoda.gif);
}

#gameover {
    position: absolute;
    background-repeat: no-repeat;
    z-index: 1;
    margin: 168px auto;
    background-size: cover;
    background-position:center;
    width: 700px;
    height: 700px;
    background-image: url(../assets/images/gameover/game_over.png);
    display: none;
}