#body {
    background-color: rgb(208, 207, 207);
}

#title {
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
}

#hud {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 520px;
    align-items: center;
    background-image: url(../assets/images/hud.jpg);

    background-color: rgb(71, 57, 3);
    position: relativergb(119, 90, 10)
}

#score {
    font-family: fantasy;
    font-size: 30px;
    color: white;
    position: absolute;
    
}

#life {
    font-family: fantasy;
    font-size: 30px;
    color: white;
    position: absolute;
}

#canvas {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    border: 5px solid white;
    background-image: url(../assets/images/canvas_fondo.jpg);
    background-size: cover;
}

#hero {
    position: relative;
    align-items: center;
    background-repeat: no-repeat;
    left: 200;
    width: 32px;
    height: 40px;
    border: 2px solid red;
    background-image: url(../assets/images/hero_down.png);
}




    

/*#hero {
    
  /*background-image: cover;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 200px;
    left: 300px;
    background: url(../assets/images/hero_left.png);
}*/



